.h1{
  font-size:8dvw;
}
h2{
  font-size: 3dvw;
}
h3{
  font-size: 2dvw;
}
h5{
  font-size: 1.5dvw;
}
p{
  font-size: 1.3dvw;
}
.h2{
  font-size: 3dvw;
}
.h3{
  font-size: 2dvw;
}
.h5{
  font-size: 1.5dvw;
}
.p{
  font-size: 1.3dvw;
}
.btn-text{
  font-size: 1.3dvw;
}

.card-hover:hover{
  transition-duration:0.2s ;
  transition-property: transform;
  transform: scale(1.02);
}
/* @media (max-width:470px) {
  .card-sm{
    width: 10dvw !important;
  }
} */
.card-sm{
  width: 19dvw;
}
.card-shadow{
  box-shadow:  1px 0px 10px rgba(46, 46, 46, 0.442);
}
.bg-blue{
  background: #191f4d;
}
.bg-banner{
  background-image: url(./img/banner/b14.png);
  background-position: center;
  background-size: cover; 
  background-repeat: no-repeat;
}
.hover-link:hover{
    transition-property: color;
    color: rgb(52, 172, 52);
}
.hover-link::after{
    content: " ";
    position: absolute;
    width: 30px;
    border: 2px solid rgb(52, 172, 52);
    border-radius: 5px;
    left: 10px;
    top: 30px;
    transform: translateX(-40px);
}
.hover-link:hover::after{
    transform: translateX(0px);
    transition-duration: 0.3s;
}
.vh50{
  height: 60vh;
}